.tight-table td {
	white-space: normal !important;
}

//** table.tight-table > tbody > tr.row-odd > td {background: #8fce00 !important;}
//** table.tight-table tr:nth-child(even) {background: #f1c232 !important;}

